# Turn Rewrite Engine On
RewriteEngine on
# Rewrite for FrontOperations script

RewriteRule ^login/$ login.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^signup/$ signup.php [NC,L]
RewriteRule ^signup$ signup.php [NC,L]
RewriteRule ^agent/addClient/$ agent/addClient.php [NC,L]
RewriteRule ^agent/clients/$ agent/clients.php [NC,L]
RewriteRule ^agent/transactions/$ agent/transactions.php [NC,L]
RewriteRule ^agent/due-contributions/$ agent/due-contributions.php [NC,L]
RewriteRule ^client/$ client/index.php [NC,L]
RewriteRule ^client$ client/index.php [NC,L]
RewriteRule ^client/contributions$ client/contributions.php [NC,L]
RewriteRule ^security/client/$ security/clients.php [NC,L]
RewriteRule ^security/client$ security/clients.php [NC,L]
